a, a:hover {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	color: #008000;
}

.intro .page-scroll a:hover {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	color: #008000;
}

.icon:hover .fa{
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	color: #008000;
}

ul.nav li a:hover {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	color: #008000;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	background-color: #008000;
}

.bg-skin {
	background: #008000;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	border-color: #008000;
}

footer {
	background-color: #008000;
}

.btn-skin {
	color: #fff;
	background-color: #008000;
	border-color: #008000;
}
